@font-face {
    font-family: Rascal;
    src: url(RASCAL__\ copy.TTF);
}

@font-face {
    font-family:mieszkanie9;
    src: url(mieszkanie9\ copy.otf);
}

.body{
    width: 900px;
    height: 700px;
}

.flip-container{
    width: 800px;
    height: 600px;
    display:block;
    justify-items:center;
    margin-left: auto;
    margin-right: auto;
}
.image:hover{
    cursor:pointer;
    transform:rotateY(180deg);
    transition:transform 1500ms
}
.image{
    height:100%;
    width:100%;
    position:relative;
    transform-style:preserve-3d;
    margin-left: auto;
    margin-right: auto;
}
.temple_front,
.temple_back{
    position:absolute;
    backface-visibility: hidden;
}

.temple_back{
    transform:rotateY(180deg)

}

.before_button{
    width: 70px;
    padding-left: 30%;
    top:-150px;
    position:relative;
    
}
.next_button{
    width: 70px;
    padding-left: 30%;
    position: relative;
    top: -150px;
}

 .alien{
    width: 70px;
    position: relative;
    display: block;
    float:right;
    padding-right: 60px;
    top:-20px
}

.aliensays{
    color: #7fad40;
    position:relative;
    float:right;
    font-size:15px;
    font-family: "mieszkanie9";
    right:10px;
    padding-top: 1%;
}

.collage{
    position: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
.description{
 font-family: "mieszkanie9";
 top: -950px;
 font-size: 28px;
 position: relative;
 text-align: center;
 margin-left: auto;
 margin-right: auto;
}