.body{
    width: 900px;
    height: 600px;
}

.flip-container{
    width: 800px;
    height: 500px;
    display:flex;
    justify-items:center;
    margin-left: auto;
    margin-right: auto;
    padding-top:8%;
    padding-left:5%;
}
.flip-container:hover > .image{
    cursor:pointer;
    transform:rotateY(180deg);
    transition:transform 1500ms
}
.image{
    height:100%;
    width:100%;
    position:relative;
    top:-50px;
    transform-style:preserve-3d
}
.temple_front,
.temple_back{
    position:absolute;
    backface-visibility: hidden;
}

.temple_back{
    transform:rotateY(180deg)

}

.before_button{
    width: 50px;
    padding-left: 30%;
    position: relative;
    top: -90px;
    
}
.next_button{
    width: 50px;
    padding-left: 30%;
    position: relative;
    top: -90px;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1;}
}
.play{
    animation: fadein .4s ease-in;
}

 .alien{
    width:70px;
    position: relative;
    display: flex;
    float:right;
    top:-15px

}

.aliensays{
    color: #7fad40;
    position:relative;
    float:right;
    font-size:15px;
    font-family: "mieszkanie9";
    right:10px;
}