.body{
    width: 900px;
    height: 600px;
}

h1.p1 {
	font-family: "Rascal";
	font-size: 40px;
}

.p2 {
	font-family: "mieszkanie9";
}

.flip-container{
    width: 800px;
    height: 500px;
    display:flex;
    justify-items:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.flip-container:hover > .temple{
    cursor:pointer;
    transform:rotateY(180deg);
    transition:transform 1500ms
}
.temple{
    height:100%;
    width:100%;
    position:relative;
    transform-style:preserve-3d
}
.temple_front,
.temple_back{
    position:absolute;
    backface-visibility: hidden;
}
.temple_back{
    transform:rotateY(180deg)

}

.before_button{
    width: 50px;
    padding-left: 30%;
    position: relative;
}
.next_button{
    width: 50px;
    padding-left: 30%;
    position: relative;
}

.instruction{
    color:darkblue;
    font-size: 40px;
    text-align: center;
}
 .alien{
    width:100px;
    position: relative;
    display: flex;
    float:left
}

.aliensays{
    color: #7fad40;
    position:relative;
    padding-left: 8%;
}